body{
    --culoare-inchisa: #800F00;
    --culoare-deschisa: #F0AB40;
    --culoare-text: black;
    --culoare-text-selectat: white;
    --culoare-fundal: #F5BC71;
    --culoare-border: #F04A1D;
    --culoare-fundal-highlight: #F5C5A4;
    --culoare-meniu: #F0711D;
    
    --spatiere: 100px;
    --padding-intern:4%;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);

    --gradient: 20%;
}

#link-top{
    position:fixed;
    bottom:0.5em;
    opacity:0.5;
    left:0.5em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:2px solid var(--culoare-border);
    transform: rotate(45deg);
    background: var(--culoare-fundal);
    text-decoration: none;
    transition: all 1s linear;
}

#link-top:hover{
    opacity: 1;
    background-color: var(--culoare-border);
    border-color: var(--culoare-inchisa);
}

#triunghi{
    height:0px;
    width:0;
    display:inline-block;
    border-bottom:2.5rem solid var(--culoare-border);
    border-left:1.5rem solid transparent;
    border-right:1.5rem solid transparent;
    border-top:1.5rem solid transparent;
    border-radius: 2rem;
    vertical-align: top;
    transform: translateY(-14%) rotate(-45deg) scale(0.8,0.8) translateY(-30%);
    /*transition: transform 0.5s linear, border-bottom 0.5s linear;*/
    transition: all 1s linear;
}

#link-top:hover>#triunghi{
    border-bottom:2.5rem solid var(--culoare-fundal);
}

#tab-orar{
    border-spacing: 0px;
    border: 5px solid var(--culoare-border);
    border-collapse: collapse;
    width: 75%;
    height: 100%;
}

#tab-orar th, td{
    border: 1px solid var(--culoare-border)
}

#tab-orar tr{
    transition: all 0.75s linear;
}

#tab-orar tbody>tr:nth-child(2n+1){
    color: var(--culoare-inchisa);
    transition: all 0.75s linear;
}

#tab-orar tr:hover{
    color:var(--culoare-text-selectat);
    background-color: var(--culoare-inchisa);
    border: 5px solid var(--culoare-border);
}

#tab-orar tbody>tr:nth-child(2n+1):hover{
    color: var(--culoare-text-selectat);
    background-color: var(--culoare-inchisa);
    border: 5px solid var(--culoare-border);
}

.container-iframe{
    display: flex;
    flex-direction: row-reverse;
    width: 40em;
    height: 20em;
}

.taburi-iframe{
    display: flex;
    flex-direction: column;
}

.taburi-iframe>a{   
    display:flex;
    width: 240px;
    border: 3px solid var(--culoare-border);
    border-style: double;
    background-color: var(--culoare-fundal);
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-left: hidden;
    margin-bottom: 0.05em;
    padding: 0.6em;
    flex-direction:row-reverse;
    transform: translate(-20%);
    transition: all 0.5s linear;
    z-index: 100
}

.taburi-iframe>a:hover{
    transform: translate(0%);
    background-color: var(--culoare-fundal-highlight);
}

.ifr-vid{
    z-index: 150;
    border: 0.25em solid var(--culoare-border);
    border-style: groove;
}

.footer{
    border: 0.25em solid var(--culoare-border);
    border-style: double;
    background-color: var(--culoare-fundal);
}

@media screen and (max-width: 800px){
    .divScroll{
        overflow-y: scroll;
    }
}