a:visited {
    color: var(--culoare-inchisa);
}
  
a:active {
    border: 2px solid var(--culoare-text-selectat);
} 

a[href*="http"]:not(.taburi-iframe >)::before{
    content: '\2BB3';
    font-size: 1.5em;
}

a[href*="http"]:not(.taburi-iframe >):hover::before{
    color: var(--culoare-text-selectat)
}

@keyframes animatie_link{
    0%{
        opacity: 1;
        transform: translateY(-100%) scale(0,0);
    }
    100%{
        opacity: 1;
        transform: translateY(-100%) scaleX(1,1);
    }
}