nav{
    --inaltime-meniu: 2.5em;
    --latime-buton: 150px;
    height: var(--inaltime-meniu);
    background-color: var(--culoare-border);
}

#hamburger, #ch-menu{
    display: none;
}

#acasa-mediu{
    display: none;
}

.meniu{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--culoare-border);

    li
    {
        border: 1px solid var(--culoare-inchisa);
        width: var(--latime-buton);
        height: var(--inaltime-meniu);
        text-align: center;

        div, a
        {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            line-height: var(--inaltime-meniu);
            color: var(--culoare-text);
            text-decoration: none;
            box-sizing: border-box;
            transition: all 0.5s linear;
        }

        &:hover
        {
            >a
            {
                background-color: var(--culoare-inchisa);
                color: var(--culoare-text-selectat);
            }
            >ul
            {
                display: block;
                position: absolute;
                z-index: 100;
                animation: animatie_submeniu 0.5s linear   1   forwards;
            }
        }
    }

    ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: var(--culoare-border);
        display: none;
        opacity: 0;
        transform-origin: center center;
        transform: scaleY(0);
    }
}

@media screen and (min-width: 700px){

    .meniu
    {
        div
        {
            &::after
            {
                content:"";
                opacity: 0;
                transform-origin: center right;
                transform: translateY(-100%) scaleY(0);
                display: none;
            }

            &:hover::after
            {
                display: block;
                background-image: linear-gradient(to right, var(--culoare-border), var(--culoare-fundal));
                height: 0.5em;
                z-index: 250;
                animation: animatie_submeniu_underline 0.5s linear   1   forwards;
            }
        }
    }
}

@keyframes animatie_submeniu{
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes animatie_submeniu_underline{
    0%{
        opacity: 1;
        transform: translateY(-100%) scaleX(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-100%) scaleX(1);
    }
}