html{
    font-size: 18px;
}

#grid-pagina{
    display: grid;
    gap: 10px;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:    "navigare navigare navigare"
                            "welcome welcome welcome"
                            "evenimente orar anunturi"
                            "utilizatori orar anunturi"
                            "utilizatori statistici despre"
                            "index-intrebari index-intrebari index-intrebari"
                            "promotii promotii produse"
                            "galerie-statica galerie-statica galerie-statica"
                            "footer footer footer";
}

#grid-pagina>*{
    border: 2px solid var(--culoare-border);
    border-radius: 10px;
    padding: 1em /*1em = dimensiunea textului*/;
}

#grid-pagina>figure{
    margin: 0;
}

#welcome{
    grid-area: welcome;
}
#promotii{
    grid-area: promotii;
}
#anunturi{
    grid-area: anunturi;
}
#orar{
    grid-area: orar;
}
 
#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#fig3{
    grid-area: fig3;
}
#produse{
    grid-area: produse;
}
#index-intrebari{
    grid-area: index-intrebari;
}

#utilizatori{
    grid-area: utilizatori;
}

#statistici{
    grid-area: statistici;
}

#despre{
    grid-area: despre
}

#evenimente{
    grid-area: evenimente
}

#galerie-statica{
    grid-area: galerie-statica
}

.intro-oferte{
    font-size: 1.5rem
}

.picture1>source, picture>img{/*imagine*/
    display: inline-block;
    width: 50%;
}

@media screen and (max-width: 1200px){
    html{
        font-size: 15px;
    }

    #grid-pagina{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:    "header header"
                                "welcome welcome"
                                "promotii promotii"
                                "orar orar"
                                "fig1 produse"
                                "fig2 produse"
                                "fig3 produse"
                                "anunturi anunturi"
                                "utilizatori statistici"
                                "evenimente despre"
                                "index-intrebari index-intrebari"
                                "galerie-statica galerie-statica"
                                "footer footer";
    }
}

@media screen and (max-width: 800px){
    html{
        font-size: 12px;
        gap: 7px;
    }

    #grid-pagina{
        display: block;
    }
}