p:not(#watermark){
    color:var(--culoare-text);
    border:2px solid var(--culoare-fundal);
}

h2{
    background-color: var(--culoare-fundal);
}

#watermark,#absolut{
    display:none;
}

@media print {

	#absolut{
		position: absolute;
		display: inline-block;
		top:100%;
		width:20px;
		height:20px;
		right:0;
		overflow: visible;
	}
	#absolut::after{
		content:"Element poziționat absolut pe a doua pagină.Pentru a vedea stilul de printare apăsați Ctrl+P.";
		position: absolute;
		font-size:10px;
		right:0;
		border:5px double var(--culoare-text);
		width:200px;
		height:35px;
		display: inline-block;
	}

    #retete{
        display: none;
    }

    .footer{
        page-break-before: always;
    }

    .footer iframe{
        display: none;
    }

    .navigare{
        display: none;
    }

    #link-top{
        display: none;
    }

    figure{
        display: none;
    }

	h1{
		page-break-after: always;
        text-decoration: underline;
        font-size: 2.5em;
		margin-top: 80%;
        border: 2px solid var(--culoare-text);
        border-style: dotted;
		text-align:center;
		margin-left:1cm;
	}

    #grid-pagina{
        display:block !important;
        page-break-before:always;
        row-gap:15px;
        padding:10px;
	}

    html, body {
        width: 210mm;
        overflow:visible !important;
    }

    #watermark
    {
        display: block;
        position: fixed;/*apare pe toate paginile*/
        bottom:20px;
        right:5px;
        width: 100px;
        height: 2cm;
    }

    #watermark::after{
        
        opacity:0.65;
        padding:10px;
        display: block;
        background: var(--culoare-text-selectat);
        border:2px solid var(--culoare-text);
        border-style: double;
        content:"Copyright Zanganescu Cristian";
    }

	#end{
		page-break-before: always;
	}
}

@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;
        
}
@page:left{

    margin-left:2.5cm;
    margin-right:0.5cm;
}
@page:right{

    margin-right:2.5cm;
    margin-left:0.5cm;
}